<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 旅行 </h3>
    <ul>
      <li> 美丽的清水</li>
    </ul>
    <p>蓝天白云，耸立的山峦，开阔的湖面，清澈的湖水</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 景色 </h3>
    <ul>
      <li> 夕阳</li>
    </ul>
    <p>夕阳无限好，只是近黄昏</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
